[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/LuaJIT"]
	path = external/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2
[submodule "external/SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "external/dr_libs"]
	path = external/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
